.header.clearfix
  nav
    ul.nav.nav-pills.pull-right
      li.active(role='presentation')
        a(href='/') Home
      li(role='presentation')
        a(href='/completed') Completed
  h3.text-muted Project name