.header, .footer {
  background: black;
  color: white;
  padding: 0 20px;
}

.header a, .header h3, .footer a {
  color: white;
}


/*---------------------------------------------------------------------------------*/
html {
  height: 100%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#container {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  box-shadow: 0 0 20px #888888;
  background: -moz-linear-gradient(0deg, #08FEDD 13%, #E7F619 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, 0deg, color-stop(13%, 08FEDD), color-stop(100%, E7F619));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(0deg, #08FEDD 13%, #E7F619 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg, #08FEDD 13%, #E7F619 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #08FEDD 13%, #E7F619 100%);
  /* IE10+ */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
  /* for IE */
  background: linear-gradient(0deg, #08FEDD 13%, #E7F619 100%);
  /* W3C */
  border: 1px solid #c0c0c0;
}

h2 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

#toDoForm {
  width: 100%;
  display: flex;
  wrap: nowrap;
}

form {
  font-family: 'Quicksand', sans-serif;
}

input.input-lg {
  outline: none;
  border: none;
  padding: 0;
  text-indent: 10px;
}

button.btn, button.done, button.remove, button.removeAll {
  height: 100%;
  border: none;
  background-color: #000000;
  color: #FFFFFF;
  width: 20%;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 480px){
  button{
    font-size: 0.6rem;
  }
}

button:hover {
  background-color: #161616;
}

::-webkit-input-placeholder {
  color: #A7B09E;
  text-indent: 10px;
  font-family: 'Quicksand', sans-serif;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #A7B09E;
  text-indent: 10px;
  font-family: 'Quicksand', sans-serif;
}

div.checkbox {
  display: inline;
}

ol li {
  font-family: 'Kalam', cursive;
  color: #161616;
  font-size: 1rem;
  font-weight: bold;
}

.done, .remove {
  width: 20px;
  font-size: 0.9rem;
  float: right;
  border-radius: 10px;
  padding: 2px 0;
}