extends ../layout
block content
    #container.row.col-md-offset-4.col-md-4
      h1.projectName DONE  
      ul 
        each complete in completed
          li
            p.title= complete.name
            p.date= complete.time
      a(href='/') 
        button.task Go to task List

          