extends ../layout

block content
  .jumbotron
    h1 TO-DO-LIST
    form(action="tasks", method="POST")
      input.input-lg(name="task")
      button.btn.btn-lg.btn-success Add task
    ol
      each task, i in tasks
        li= task
          input.hidden(value=i)
          button.remove Remove task
          button.done Task done
    button.removeAll Mark All Done

